.black-stripe {
    background-color:  #222222;
    height: 341px;

    &__info {
        width: 360px;
        margin-top: 103px;
    }
    &__img {
        display: block;
        margin-left: 150px;
}
    &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}

    &__title {
        font-size: 19.96px;
        font-weight: normal;
        line-height: 24px;
        text-align: center;
        color: #FBFBFB;
} 

    &__text {
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;    
        color: #FBFBFB;
}
}